@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Dosis:wght@200..800&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
/* webfont */
@import url(reset.css);
@import url(global.css);
@import url(page.css);

@import url('jquery.bxslider.css');

/* @import url(myAccount.css); */
@import url(customerService.css);
@import url(pay.css);
@import url(resources.css);
@import url(explore.css)
